body{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
nav.menu{
    text-align: center;
    background-color: rgb(167, 167, 167);
    width: 150px;
}
div.active{
    background-color: black;
}
a.link{
    color: white;
}
a{
    text-decoration: none;
}